.container {
    background-image: linear-gradient(to bottom, transparent, rgb(0, 188, 212), transparent),
                      linear-gradient(to bottom, transparent, rgb(0, 188, 212), transparent);
    background-size: 0.5em 20em, 0.5em 20em;
    background-position: top left, top right;
    background-repeat: no-repeat;
    max-width: 23em;
    height: 20em;
    width: 100%;
}

.innerContainer {
    display: flex;
    flex-flow: column;
    margin-right: 8px;
    margin-left: 8px;
    height: 100%;
}

.viewSwitcher {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
}

.notification {
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 1.5em;
}