.container {
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(to bottom, rgb(0, 188, 212), transparent), linear-gradient(to bottom, rgb(0, 188, 212), transparent);
    background-size: 0.5em 350px, 0.5em 350px;
    background-position: top left, top right;
    background-repeat: no-repeat;
    border-top: solid 0.5em rgb(0, 188, 212);
    min-height: 300px;
}

.menu {
}

.viewSwitcher {
    display: flex;
    justify-content: center;
}

.notification {
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 1.5em;
}