.menu {
}

.menu__buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px
}

.menu__buttons > * {
    margin-bottom: 8px;
}

.authenticator {
   display: flex;
   justify-content: flex-end;
    margin-right: 5px
}