.container {
    width: 350px;
    height: 350px;
    font-family: "Helvetica Neue",Helvetica,Arimo,Arial,sans-serif;
}

.container button, textarea, input {
    font-family: inherit;
}

.menu {
}

.viewSwitcher {
    max-height: 100%;
}

.notification {
    min-height: 1.5em;
}