.container {
    width: 350px;
    height: 350px;
    font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container button, textarea, input {
    font-family: inherit;
}

.innerContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.menu {
}

.viewSwitcher {
    height: 100%;
    overflow-y: auto;
}

.notification {
    min-height: 1.5em;
}