.app {
    display: flex;
    flex-direction: column;
    height: 400px;
    border-style: solid;
    border-color: rgb(0, 188, 212);
    border-width: 0.5em;
}

.app__viewSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}