.container {
    display: flex;
    flex-flow: column;
    max-height: 800px;
    max-width: 600px;
    border-style: solid;
    border-color: rgb(0, 188, 212);
    border-width: 0.5em;
}

.menu {
}

.viewSwitcher {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.notification {
    display: flex;
    justify-content: center;
    min-height: 1.5em;
}