.app {
    display: flex;
    flex-flow: column;
    height: 400px;
    border-style: solid;
    border-color: rgb(0, 188, 212);
    border-width: 0.5em;
}

.menu {
}

.viewSwitcher {
    display: flex;
    justify-content: center;
    flex: 1;
}

.notification {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-height: 1em;
}